@font-face {
  font-family: 'GTWalsheimMedium';
  src: url("./assets/fonts/GTWalsheim/GT-Walsheim-Medium.otf") format("opentype"); }
@font-face {
  font-family: 'GTWalsheimRegular';
  src: url("./assets/fonts/GTWalsheim/GT-Walsheim-Regular.otf") format("opentype"); }
@font-face {
  font-family: 'Chrono-Bold';
  src: url("./assets/fonts/Chrono/Chrono-Bold.otf") format("opentype"); }
h1,
.h1 {
  /* Heading 1: */
  font-family: 'GTWalsheimMedium';
  font-size: 30px;
  color: #082842;
  letter-spacing: 0.5px;
  line-height: 36px; }
  @media screen and (min-width: 769px) {
    h1,
    .h1 {
      font-size: 44px;
      letter-spacing: 0.73px;
      line-height: 60px; } }

h2,
.h2 {
  /* Heading 2: */
  font-family: 'GTWalsheimMedium';
  font-size: 24px;
  color: #082842;
  letter-spacing: 0.33px;
  line-height: 36px; }
  @media screen and (min-width: 769px) {
    h2,
    .h2 {
      font-size: 38px;
      letter-spacing: 0.53px;
      line-height: 48px; } }

h3,
.h3,
.nf-form-cont label[for=nf-field-43] {
  /* Heading 3: */
  font-family: 'GTWalsheimMedium';
  font-size: 18px;
  color: #082842;
  letter-spacing: 0.5px; }

.utility, .nf-form-cont label {
  /* Utility: */
  font-family: 'GTWalsheimRegular';
  font-size: 12px;
  color: #082842;
  letter-spacing: 0.5px;
  line-height: 24px; }

p,
.p {
  /* Paragraph: */
  font-family: 'GTWalsheimRegular';
  font-size: 18px;
  color: #082842;
  letter-spacing: 0.5px;
  line-height: 24px; }
  p.large,
  .p.large {
    /* Paragraph Large: */
    font-family: 'GTWalsheimRegular';
    font-size: 24px;
    color: #082842;
    letter-spacing: 0.5px;
    line-height: 36px; }

.button {
  /* Button: */
  font-family: 'Chrono-Bold';
  font-size: 14px;
  color: #082842;
  letter-spacing: 1.4px;
  line-height: 12px;
  text-transform: uppercase; }

a,
.a {
  /* Text Link: */
  font-family: 'GTWalsheimRegular';
  font-size: 18px;
  color: #8494A1;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-decoration: underline; }
  a.small,
  .a.small {
    /* Text Link Small: */
    font-family: 'GTWalsheimRegular';
    font-size: 12px;
    color: #8494A1;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-decoration: underline; }

body, .site-content {
  background: rgba(255, 0, 0, 0.15); }

#nf-content-one {
  position: relative;
  margin: auto;
  width: calc(100% * 10/12);
  display: flex;
  background: #FFFFFF;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1); }

.nf-form-cont {
  position: relative;
  margin: auto;
  width: calc(100% * 8/10); }
  .nf-form-cont input[type=text], .nf-form-cont input[type=email] {
    border-radius: 0px; }
  .nf-form-cont label[for=nf-field-43] {
    padding-top: 72px;
    padding-bottom: 24px; }
  .nf-form-cont .nf-field-container:not(.listcheckbox-container) {
    position: relative;
    box-sizing: border-box; }
    .nf-form-cont .nf-field-container:not(.listcheckbox-container).email-container {
      width: 100%;
      display: block; }
  .nf-form-cont input[type=button] {
    position: relative;
    float: right;
    background: #203D54;
    color: #FFFFFF;
    border-radius: 0px;
    padding-left: 72px;
    padding-right: 72px; }
  .nf-form-cont .nf-field-element > ul {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between; }
    .nf-form-cont .nf-field-element > ul > li {
      position: relative;
      width: calc((100% * 2/8) - 18px) !important; }
  .nf-form-cont .list-checkbox-wrap .nf-field-element li input[type=checkbox] {
    position: relative;
    width: 100% !important;
    height: 146px !important; }
    .nf-form-cont .list-checkbox-wrap .nf-field-element li input[type=checkbox] + label {
      display: none; }
  .nf-form-cont .list-checkbox-wrap .nf-field-element li input[type=checkbox]::before {
    content: ' ';
    position: absolute;
    z-index: 2;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    background-image: url("./assets/SVG/rethink.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.4s ease-in-out; }
  .nf-form-cont .list-checkbox-wrap .nf-field-element li input[type=checkbox]:hover::before, .nf-form-cont .list-checkbox-wrap .nf-field-element li input[type=checkbox]:checked::before {
    background-image: url("./assets/SVG/rethinkHover.svg"); }
  .nf-form-cont .list-checkbox-wrap .nf-field-element li input[type=checkbox]::after {
    content: ' ';
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    background: #EDF0F1;
    border-bottom: 1px solid transparent;
    transition: all 0.4s ease-in-out; }
  .nf-form-cont .list-checkbox-wrap .nf-field-element li input[type=checkbox]:hover::after, .nf-form-cont .list-checkbox-wrap .nf-field-element li input[type=checkbox]:checked::after {
    background: #FFFFFF;
    border-bottom: 1px solid #40DFF7;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1); }
  .nf-form-cont .nf-form-title {
    display: none; }
  .nf-form-cont [aria-invalid="true"] {
    border: 1px solid #F70CF7; }
  .nf-form-cont .nf-error-msg {
    color: #F70CF7; }

#wpadminbar, #viewPortSize {
  display: none; }

/*# sourceMappingURL=custom.css.map */
